

.voice-transcription-box textarea {
  width: 90%;
  height: 120px;
  resize: none;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: #242424;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  transform: translateZ(0); 
  perspective: 1000px; 
}